html,body,div,p,ul,li,span,a,h1{padding:0;margin:0;}
html,body{-webkit-tap-highlight-color:transparent;font-family:Tahoma, "微软雅黑", "黑体";}
.clear{clear:both;height:0;overflow:hidden;}
.animate{
	-webkit-transition:all 200ms;
	-moz-transition:all 200ms;
	-ms-transition:all 200ms;
	-o-transition:all 200ms;
	transition:all 200ms;
}
a, a:hover{text-decoration:none;}

#main{
	width:480px;
	height:768px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}
#main .page{position:absolute;overflow:hidden;top:0;width:100%;height:100%;}
#main .show{left:0;}
#main .hide{left:-100%;}
#start, #play, #end{left:0;}

#start{background:url("img_s/start.jpg") no-repeat 0 0;text-indent:-9999px;}
#start .title{height: 595px;}
#start .guessPic{float:right;width:185px;height:64px;}
#start .guessPic{margin-right:40px;}
#start .guessNam{margin-left:37px;}
#start .guessNam{float:left;width:185px;height:64px;}
#start .ranking{position:absolute;top:690px;left:126px;width:230px;height:50px;}
#start .rule{position:absolute;top:20px;right:0;width:170px;height:45px;}

.ranking{
	display: flex;
	justify-content: center;
	width: 100%;
	table-layout: fixed;
}
.ranking table{
	text-indent:0!important;
	width:100%;
	background-color: #ffffff;
	border-radius: 6px;
	border-collapse: collapse;
}
.ranking  tr{
	text-align: left;
	height: 50px;
}

.ranking table tr:nth-of-type(odd){
	background: #F7F8F9;
}

.ranking table .name{
	display: flex;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.ranking table  tr:first-child{
	color: #ff6c00;
	font-size: 18px;
}

.ranking table  td:first-child{
	text-align: center;
}

.ranking table .head{
	width: 32px; 
	height: 32px; 
	float:left; 
	border-radius: 50%; 
	overflow: hidden;
}
.ranking td{border:0;padding:0}
.ranking table img{
	width:100%
}

#ranking tr:nth-of-type(2)
{
	background: #FFE3d5;
}
#ranking tr:nth-of-type(3),
#ranking tr:nth-of-type(4),
#ranking tr:nth-of-type(5),
#ranking tr:nth-of-type(6)
{
	background:#FFF5F0!important;
}

#play .header{height:56px;font-size:30px;text-align:center;color:#ff6c00;}
#play .wLevel{position:absolute;top:10px;left:15px;}
#play .time{display:inline-block;width:46px;height:40px;line-height:40px;margin-top:8px;text-align:center;color:#ff6c00;}
#play .heartList{position:absolute;right:11px;top:13px;}
#play .heart{float:left;width:36px;height:31px;margin:0 4px;background:url("img_d/image.png") no-repeat 0 0;}
#play .logo{position:absolute;left:160px;bottom:20px;width:240px;height:35px;background:url("img_s/logo.png") no-repeat;}

.gameTip{padding:20px 0;font-size:36px;color:#fff;}
.gameTip img{width:75%}

.container{text-align:center;}
/*** tip1: 图片, tip2: 文字***/
.gameAnswer .tip1, .gameAnswer .tip2{display:inline-block;width:200px;height:200px;margin-top:-200px;background:url("img_d/image.png") no-repeat 200px 200px;}

.gameAnswer .right .tip1{background-position:-210px -120px;}
.gameAnswer .error .tip1{background-position:0 -120px;}
.gameAnswer .answer1{float:left;width:210px;margin:0 -15px 20px 25px;}
.answer1{text-align:center;}
.answer1 img{width:200px;height:200px;}

.gameAnswer .tip2{width:160px;height:60px;margin-top:-64px;}
.gameAnswer .right .tip2{background-position:-170px -50px;}
.gameAnswer .error .tip2{background-position:0 -50px;}
.gameAnswer .answer2{text-align:left;float:left;width:180px;margin:15px -40px 15px 60px;}
.answer2 .atext{display:block;width:160px;height:60px;line-height:60px;border-bottom:4px solid #e46304;text-align:center;font-size:26px;color:#4799CB;background:#fff;}

#prepare{position:absolute;top:0;left:0;width:100%;height:100%;}
#prepare .back{width:100%;height:100%;background:#000;opacity:0.5;}
#prepare .text{position:absolute;top:200px;width:100%;font-weight:bold;font-size:50px;text-align:center;color:#fff;}
#prepare .tip{position:absolute;top:280px;width:100%;text-align:center;font-size:24px;color:#fff;}

#end{text-align:center;color:#4799CB;}
#end .really{padding-top:100px;font-size:26px;}
#end .title{padding-top:30px;font-size:48px;}
#end .level{padding-top:25px;font-size:36px;}
#end .again, #end .notify{position:absolute;top:330px;width:172px;height:84px;text-indent:-9999px;background:url("img_d/image.png") no-repeat;}
#end .again{left:46px;background-position:-182px -330px;}
#end .notify{right:46px;background-position:0 -330px;}
#end .smallLink{position:absolute;bottom:0px;width:100%;height:280px;background: url("img_s/small.gif") no-repeat}
#end .publishLink{position:absolute;bottom:0px;width:100%;height:280px;}

#ranking-dialog,#rule-dialog {
	visibility: hidden;
	position: absolute;   /* 使用绝对定位或固定定位  */
	left: 0px;
	top: 0px;
	width:100%;
	text-align:center;
	z-index: 1000;
	background-color: rgba(0,0,0,0.4) ;
}
/* 模态框样式 */
.modal-data{
	width:95%;
	margin: 1px auto;
	background-color: #fff;
	text-align:center;
}

.rule-img{
	background: url(./img_s/rule.jpg) no-repeat;
    width: 100%;
    height: 590px;
    background-size: cover;
}

.close{
	line-height: 42px;
    height: 42px;
	display: block;
	color:white;
    background-color: #44bb44;
}

.widget {
	position: relative;
	width: 100%;
	background: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
  }
  
  .widget-tabs {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 9px 12px 0;
	text-align: left;
	direction: rtl;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	border-radius: 3px 3px 0 0;
  }
  
  .widget-tab,
  .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab,
  .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab,
  .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
	line-height: 36px;
	font-weight: normal;
	color: #999;
	background: #fcfcfc;
	border: solid #ddd;
	border-width: 1px 1px 0;
	border-radius: 5px 5px 0 0;
	padding-bottom: 0;
	bottom: auto;
  }
  
  .widget-tab > .widget-tab-link,
  .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab > .widget-tab-link,
  .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab > .widget-tab-link,
  .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab > .widget-tab-link {
	margin: 0;
	border-top: 0;
  }
  
  .widget-tab + .widget-tab {
	margin-right: -1px;
  }
  
  .widget-tab:last-child,
  .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child,
  .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2),
  .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child {
	bottom: -1px;
	margin-top: 0;
	padding-bottom: 2px;
	line-height: 34px;
	font-weight: bold;
	color: #555;
	background: white;
	border-top: 0;
  }
  
  .widget-tab:last-child > .widget-tab-link,
  .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child > .widget-tab-link,
  .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) > .widget-tab-link,
  .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child > .widget-tab-link {
	margin: 0 -1px;
	border-top: 4px solid rgb(71, 153, 203);
  }
  
  .widget-tab-link {
	display: block;
	min-width: 60px;
	padding: 0 15px;
	color: inherit;
	text-align: center;
	text-decoration: none;
	border-radius: 4px 4px 0 0;
  }
  
  .widget-list {
	display: none;
	padding-top: 35px;
	padding-left: 0px;
  }
  
  .widget-list > li + li {
	border-top: 1px solid #e8e8e8;
  }
  
  .widget-list:last-of-type {
	display: block;
  }
  
  .widget-list:target {
	display: block;
  }
  
  .widget-list:target ~ .widget-list {
	display: none;
  }
  
  .widget-list-link {
	display: block;
	line-height: 18px;
	padding: 10px 12px;
	font-weight: bold;
	color: #555;
	text-decoration: none;
	cursor: pointer;
  }
  
  .widget-list-link:hover {
	background: #f7f7f7;
  }
  
  li:last-child > .widget-list-link {
	border-radius: 0 0 3px 3px;
  }
  
  .widget-list-link > img {
	float: left;
	width: 32px;
	height: 32px;
	margin: 2px 12px 0 0;
  }
  
  .widget-list-link > span {
	display: block;
	font-size: 11px;
	font-weight: normal;
	color: #999;
  }